.portfolio__items{
    list-style: none;
    margin: 0;
    padding: 50px 0 0 0;
}

.portfolio__item{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #424242;
    padding-bottom: 19px;
    margin: 0;
}

.portfolio__item:last-child{
    border: none;
    padding: 0;
}

.portfolio__text{
    margin: 0;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #fff;
}

.portfolio__link{
    width: 29px;
    text-decoration: none;
    background: transparent url(../../../images/portfolioLink.svg)center / 20px no-repeat;
    transition: opacity .2s ease-in-out;
} 

.portfolio__link:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width:820px) {
    .portfolio__text{
        font-size: 28px;
    }
}

@media screen and (max-width:390px) {
    .portfolio__items{
        padding-top: 40px;
    }
    .portfolio__text{
        line-height: 20px;
        font-size: 18px;
    }
}

