.portfolio__items{
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
}

.portfolio__item{
    padding: 20px 0 19px;
    border-bottom: 1px solid #e8e8e8;
}

.portfolio__item:last-child{
    border: none;
}

.portfolio__link{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #fff;
    background:transparent url('../../../images/portfolioLink.svg') right center / 20px no-repeat;
    transition: opacity .2s ease-in-out;
}

.portfolio__link:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width:820px) {
    .portfolio__text{
        font-size: 28px;
    }
}

@media screen and (max-width:550px) {
    .portfolio__item {
        margin-top: 21px;
      }


    .portfolio__link {
        background-size: 12px;
        font-size: 18px;
        line-height: 28px;
      }
}

@media screen and (max-width: 540px) {

    .portfolio__item {
      margin-top: 21px;
    }
  
    .portfolio__link {
      background-size: 12px;
      font-size: 18px;
      line-height: 28px;
    }
  }
